<!DOCTYPE html>
<html>
  <head>
    <title>Robbyhood</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property="og:title" content="Robbyhood">
    <meta property="og:description" content="Robbyhood, a clone of Robinhood, is a website that allows people to learn investing in stocks without using actual money.">
    <meta property="og:image" content="https://i.imgur.com/K1Upu78.png?1">
    <meta property="og:url" content="https://robbyhood.herokuapp.com/#/">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
        window.iexAPIKey = "<%= Rails.application.credentials.iex[:api_key] %>"
    </script>
    <script type="text/javascript">
        window.iex2APIKey = "<%= Rails.application.credentials.iex2[:api_key] %>"
    </script>
    <script type="text/javascript">
        window.avAPIKey = "<%= Rails.application.credentials.av[:api_key] %>"
    </script>
    <script type="text/javascript">
        window.msAPIKey = "<%= Rails.application.credentials.ms[:api_key] %>"
    </script>
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

