<!DOCTYPE html>
<html>
  <head>
    <title>Robbyhood</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
        window.iexAPIKey = "<%= Rails.application.credentials.iex[:api_key] %>"
    </script>
    <script type="text/javascript">
        window.iex2APIKey = "<%= Rails.application.credentials.iex2[:api_key] %>"
    </script>
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
